{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:astro/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js"],
      "parser": "@typescript-eslint/parser"
    },
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      }
    }
  ]
}
